body{
    background-image: url('../img/hero-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.btns {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    margin-top: 20px;
    flex-direction: row;
}

.btn:nth-child(1) {
    
    margin-right: 50px;
}
